<launch>
<!--    <include file="$(find uuv_gazebo_worlds)/launch/empty_underwater_world.launch" />-->
<!--    <include file="$(find deepleng_description)/launch/upload.launch" />-->
    <!-- Launch the training system -->
    <node pkg="deepleng_control" name="rl_infer" type="stable_baselines_infer.py" output="screen"/>
</launch>
